@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,200&display=swap');

        body {
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
        }
        .head{
            width: 100%;
            max-width: 350px;
            margin: auto;
            border-radius: 20px 10px 20px 10px;
            padding: 2px;
            font-family: 'Shadows Into Light', cursive;
            text-align: center;
            font-size: 1rem;
            background-color: #02151b18;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.233);
        }
        .head > p{
            font-size: 2rem;
            margin-top: -20px;
            margin-bottom: 10px;
        }
        .paragrafo {
            width: 100%;
            max-width: 350px;
            text-align: justify;
            margin: 10px auto 0;
            padding: 10px;
            border-radius: 15px;
            background-color: #54c7ee18;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.233);
        }
        h2{
            font-family:'Shadows Into Light', cursive;
            text-align: center;
        }
        .menu{
            width: 100%;
            max-width: 350px;
            text-align: justify;
            margin: 100px auto 0;
            margin-top: 10px;
            padding: 10px;
            border-radius: 15px;
            background-color:  #54c7ee18;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.233);
        }
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
        .paragrafo > p{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
            color: black;
            text-indent: 15px;
        }

        div#redes-sociais{
            width: 100%;
            max-width: 70px;
            text-align: left;
            margin-top: -607px;
            border-radius: 15px;
        }
        div#redes-sociais  img{
            width: 50px;
            margin: 10px;
            border-radius: 50%;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
            box-sizing: border-box;
        }
        div#redes-sociais img:hover{
            border: 2px solid rgba(255, 255, 255, 0.938);
            transform: rotate(35deg);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
            transition: transform 0.5s, border 1s;
        }

        @media(max-width:487px){
            div#redes-sociais img{
                opacity: .7;
            }
        }
       /* @media(max-width: 497px){
            .head, .paragrafo, .menu{
                width: 300px;
                margin-left: 70px;
            }
        }*/