/*@font-face {
    font-family: 'FonteLogo';
    src: url(nome do arquivo na pasta); mudar no h1
}*/
@charset "UTF-8";
p {
    text-align: justify;
    text-indent: 50px;
}
a { /*links*/
    color: aqua;
    text-decoration: none;
}

body{
    font-family: Arial;
    background-image: url("imagens/preto-fundo.jpg");
    background-color: #ade3ef;
    color: #ebeded;
}

div#interface {
    width: 800px;
    background-color: white;
    color: black;
    margin: -5px auto 0px auto; /*top, direita, esque, bott*/
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px; /*top, direita, esque, bott*/
}

header#cabecalho img#icone { /*imagem manha lateral*/
    position: absolute;
    left: 900px;
    top: 40px;
    width: 150px;
    border-radius: 2px;
}

header#cabecalho{
    border-bottom: 1px #606060 solid; /*Borda separa*/
    height: 150px;
    background: url("imagens/teste.png") no-repeat 0px 80px;
}

header#cabecalho h1{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 1px black;
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

figure.foto-legenda{
    position: relative;
    border: 2px solid black;
    box-shadow: 1px, 1px, 1px, 4px black;
}

figure.foto-legenda img{
    width: 50%;
    height: 50%;
}

figure.foto-legenda figcaption{
    opacity: 0.1;
    position: absolute;
    top: 0px;
    background-color: rgba(185, 148, 78, 0.4);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption  {
    opacity: 0.5;
}
/*Formatação menu*/
nav#menu {
    display: block;
}

nav#menu ul{ /*menu em cima*/
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 400px; /*Posicão direita ou esquerda*/
}

nav#menu li{
    display: inline-block;
    background-color: #66CDAA;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    transition: background-color 1s;
}

nav#menu li:hover{ /*fundo quando passa o mouse*/
    background-color: #606060;
}

nav#menu h1 {
    display: none; /*esconde o "menu principal"*/
}

nav#menu a {
    color:black;
    text-decoration: none; /*tirar o sublinhado*/
}

nav#menu a:hover {
    color:white; /*fundo da letra*/
    text-decoration: underline; /*linha só em um*/
}

section#corpo{
    margin: 5px auto 5px auto;
    display: block;
    width: 420px; /*largura*/
    float: left;
    border-right: 1px solid black ;
    padding-right: 20px;
}

article#principal h2{
    font-size: 12pt;
    color: white;
    background-color: #606060;
    padding: 5px 0px 5px 0px;
    /*margin: 10px 0px 10px 0px; não ta funcionando*/
}

header#cabecalho-artigo h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    color: grey;
    margin-bottom: 0px;
    margin-top: 0px;
}

.direita{
    text-align: right;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: rgb(53, 19, 19);
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3{
    font-size: 12pt;
    color: #606060;

}

table#tabela{
    border: 1px solid #606060;
    border-spacing: 0px; /*espaço dentro da tabela de cada linha*/
    margin-left: auto;
    margin-right: auto;
}

table#tabela td{
    border: 1px solid #606060;
    padding: 10px; /*espaço dentro da tabela*/
    text-align: center;
    vertical-align: middle;
}

table#tabela td.ce{ /*coluna esquerda*/
    color: white;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

table#tabela td.cd{ /*coluna direita*/
    background-color: #cecece;
}

table#tabela caption{
    color: #888888;
    font-size: 20pt;
    font-weight: bold;
}

table#tabela caption span{ /*mar/2023 na tablea*/
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 20px;
}
video#filme{ /*EDITAR VIDEO*/
    display: block;
    position: relative;
    left: 60px;
    top: -1px;
    width: 300px;
    border-radius: 10px;
}
video#filmelado{ /*EDITAR VIDEO*/
    display: block;
    position: relative;
    left: 30px;
    top: -1px;
    width: 300px;
    border-radius: 10px;
}
aside#lateral{
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

aside#lateral h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    color: #606060;
    margin-top: auto;
}

aside#lateral h2{
    background-color: #606060;
    font-size: 15pt;
    color: white;
    padding: 5px;
}

footer#rodape{
    clear: both;
    border-top: 1px solid black;   
}

footer#rodape p {
    text-align: center;
}